<Config>
    <LibraryPath>/usr/lib/arm-linux-gnueabihf/opensc-pkcs11.so</LibraryPath>
	<Ngrok>
		<Enable>false</Enable>
		<Authtoken>[bot_user_auth_token]</Authtoken>
		<TcpAdress>[tcpaddress]</TcpAdress>
	</Ngrok>
	<Users>
		<User>
			<Username>[username]</Username>
			<Password>[password]</Password>
			<Pin>[pin]</Pin>
			<Type>RSA</Type>
			<Length>2048</Length>
            <Public>keys/[publickeyfile]</Public>
			<KeyID>[id]</KeyID>
			<SlotNumber>0</SlotNumber>
		</User>
	</Users>
</Config>