                                    config.xml
<Configuration>
    <LibraryPath>/usr/lib/arm-linux-gnueabihf/opensc-pkcs11.so</LibraryPath>
    <EnableGrok>false</EnableGrok>
    <Token>N/A</Token>
    <Users>
        <User>
            <Username>zerocore</Username>
            <Password>$2a$10$P75mXSAfxVYmwZ7CWioBxO6XKM4TOgBoc3ceGHKVzAdZaCtOQLV.G</Password>
            <Pin>654321098765</Pin>
            <Type>RSA</Type>
            <Length>2048</Length>
            <Public>keys/public_key.pem</Public>
            <KeyID>01</KeyID>
            <SlotNumber>0</SlotNumber>
        </User>
    </Users>
</Configuration>